*.pt
*.avi
*.pyc
*.pth
*.pyth
*.bin
*.gif
checkpoints/AOT/
checkpoints/E2FGVI/
checkpoints/GroundedSAM/
demo/track_res/
demo/rvos_res/
*vscode*
.DS_Store
dgpt/
project/__MACOSX
*__pycache__
viz/
scripts/__pycache__
langchain_cache.db
intermediate_res*/
archive/intermediate_res*/
archive/demo/*
runs/
projects/
misc/image_grid_results*/
misc/IG*/
src/detectron2
misc/*.webm
